body
{
    margin:0;
}

#input
{
    margin:0;
    padding:0;
    border-radius:0;
    width: 20%;
    height: 100%;
    min-width:10%;
    min-height:100%;
    z-index: 1;
    position: absolute;
    left: 0;
    border-top-width:0;
    border-bottom-width:0;
}

#graph
{
    height:100%;
    width: 100%;
    position:absolute
}

.circle
{
    position:absolute;
    left:500px;
    top:500px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-width:1px;
    border-color: black;
    border-style: solid;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}