html {
background-color: white;
overflow: hidden;
}
html, body {
    overscroll-behavior-x: none;
}

::-webkit-scrollbar {
  display: none;
}


nav {
    background-color: #d5d5d5;
}

body
{
    margin:0;
    overflow: hidden;
    height: 100vh;
    clip-path: inset(0 0 0 0);
    position: relative;
}

#input
{
    margin:0;
    padding:10px;
    width: 20%;
    min-width:10%;
    max-width: 750px;
    z-index: 3;
    position: absolute;
    top:50px;
    bottom:100px;
    border-radius:10px;
    border-top-width:0;
    border-bottom-width:0;
    border: 2px black solid;
    resize: none;
    transition-property: left, opacity;
    transition-duration: 0.5s;
    height: 80%;
}

.hidden-markup {
    opacity: 0;
    visibility: hidden;
    left: -750px;
}

.show-markup {
    left: 25px;
}

.hidden-nodeEditor {
    opacity: 0;
    visibility: hidden;
    right: -750px;
}

.show-nodeEditor {
    right: 25px;
}

/* width */
#input::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#input::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
#input::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 10px;
}

#graph
{
    height:100%;
    width: 100%;
    position:absolute;
    overflow: hidden;
    top:0;
    z-index: -1;
    background-image: url('images/grid.svg');
    /*linear-gradient(#262626f0, #262626f0), url(images/grid.svg)*/
    opacity: 0.05;
    background-size: 250px;
}

#graph:active
{
     cursor:move;
}

.crossing
{
    cursor: crosshair;
}

.circle
{
    position:absolute;
    left:500px;
    top:500px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-width:1px;
    border-color: black;
    border-style: solid;
    z-index: 2;
    background-size:cover;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.imageText {
    color: white;
    text-shadow:
        black -2px  2px 4px,
        black -2px -2px 4px,
        black  2px  2px 4px,
        black  2px -2px 4px;
}

.circle:hover
{
    cursor:grab;
}

.circle:active
{
    cursor:grabbing;
}

.name {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    font-family: atkinson;
}

.line
{
    position:absolute;
    background-color: #e233af;
    z-index: 1;
    opacity: 0.8;
}

.arrowhead {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;

    border-top-color: transparent;
    border-bottom-color: transparent;

	border-left-color: #e233af;
	border-right-color: #e233af;
}

.button
{
    position: relative;
    padding: 5px;
    border-radius: 10px;
    background-color: #cfcfcf;
    display:inline;
    margin:1px;
    text-align: center;
}

a
{
    color: inherit;
    text-decoration: none;
}

.button:hover
{
    opacity: 0.5;
    cursor: pointer;
}

.circlePanel{
    z-index: 2;
    display: block;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
}


.panelButton
{
    margin: 0;
    padding: 5px;
    vertical-align: center;
    position: relative;
    background-color: #eeeeee;
    text-align: left;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.panelButton:hover
{
    background-color: #dedede;
    cursor: pointer;
}

.nodeDetails
{
    width: 400px;
    position: absolute;
    background-color: white;
    border: black 2px solid;
    padding-left: 1%;
    padding-right: 1%;
    overflow-y: auto;
    height: 80%;
    max-width: 600px;
    top: 4em;
    border-radius: 10px;
    transition-property: right, opacity;
    transition-duration: 0.5s;
}

#nodeEditor-name{
    display: inline;
    border: none;
    font-size: larger;
    font-family: 'garamond';
    width: 60%;
}

#nodeEditor-desc{
    width: 100%;
    height: 300px;
    resize: vertical;
}

.graph-button {
    border-radius: 20px;
    background-color: #6918A9;
    color: white;
    border: 2px black solid;
    padding: 15px;
    bottom: 20px;
}

#markup-button {
    position: absolute;
    left: 25px;
}

#guided-view-button {
    position: absolute;
    right: 25px;
}

#info {
    height: 100%;
}

.info-box {
    background-color: white;
    padding: 15px;
    position: relative;
    top: 20%;
    height: 60%;
    width: 60%;
    max-width: 800px;
    margin: auto;
}

.info-content {
    margin: auto;
    width: 75%;
    text-align: center;
}

#inspector::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#inspector::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
#inspector::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 10px;
}

#inspector-image
{
    width:100%;
    max-width: 300px;
}

#inspector-info
{
    text-align: left;
    direction: ltr;
}

#inspector-desc
{
    max-width: 400px;
}

img
{
width:100%
}

#info {
    height: 100%;
}

.info-content {
    background-color: white;
    padding: 15px;
    position: relative;
    top: 20%;
    height: 60%;
    width: 60%;
    max-width: 800px;
    margin: auto;
}


@media only screen and (max-width: 600px) {
    .nodeDetails {
        bottom: 0;
        margin: auto;
        width: 100%;
        border-radius: 0;
        height: 40%;
        overflow-y: scroll;
        border: none;
        border-top: solid;
        max-width: none;
        right: auto;
        top: auto;
    }
}

#ui > div {
    z-index: 10;
}

#ui > a {
    z-index: 10;
}

.gve-family {
    color: white;
    list-style: square;
    user-select: none;
}
.gve-item {
    padding-left: 1em;
    padding-right: 1em;
    background-color: #6918A9;
    color: white;
    width: fit-content;
    border-radius: 5px;
    min-width: 100px;
    margin: 0;
    user-select: none;
}

.gve-item p {
    margin: 0;
}

.gve-list {
    padding-left: 0.5em;
    border-left: 0.2em solid #d9e0e6;
}

.gve-list .gve-item {
    background-color: rgb(89, 24, 169);
}

.gve-list .gve-list .gve-item {
    background-color: rgb(92, 24, 169);
}

.gve-list .gve-list .gve-list .gve-item {
    background-color: #2a0d80;
}

.gve-list .gve-list .gve-list .gve-list .gve-item {
    background-color: #330953;
}

.gve-item:hover {
    background-color: #e233af !important;
}
.gve-item:hover + .gve-list {
    border-left: 0.2em solid #dcacf2;
}

.dragReciever {
    width: 5em;
    height: 5px;
    border-radius: 5px;
}

.active.dragReciever {
    background-color: #aebec4;
}