body
{
    margin:0;
}

#input
{
    margin:0;
    padding:10px;
    width: 20%;
    min-width:10%;
    max-width: 750px;
    min-height:90%;
    max-height:90%;
    z-index: 3;
    position: absolute;
    left: 10px;
    top:40px;
    bottom:20px;
    border-radius:10px;
    border-top-width:0;
    border-bottom-width:0;
    border-width: 1px;
    resize: horizontal;
}

/* width */
#input::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#input::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
#input::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 10px;
}

#graph
{
    height:100%;
    width: 100%;
    position:absolute;
    overflow: hidden;
    top:0;
    z-index: -1;
}

#graph:active
{
     cursor:move;
}

.circle
{
    position:absolute;
    left:500px;
    top:500px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-width:1px;
    border-color: black;
    border-style: solid;
    z-index: 2;
    background-size:cover;
}

.circle:hover
{
    cursor:grab;
}

.circle:active
{
    cursor:grabbing;
}

.name {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.line
{
    position:absolute;
    background-color: red;
    z-index: 1;
}

.button
{
    position: relative;
    padding: 5px;
    border-radius: 20px;
    background-color: #cfcfcf;
    display:inline;
    margin:1px;
    text-align: center;
}

a
{
    text-decoration: none;
    color:black;
}

.button:hover
{
    opacity: 0.5;
    cursor: pointer;
}

#saveButton
{
    width:100px;
}

.circlePanel{
    z-index: 2;
    height:60px;
    display: block;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
}


.panelButton
{
    margin: 0;
    padding: 5px;
    vertical-align: center;
    position: relative;
    background-color: #eeeeee;
    text-align: left;
}

.panelButton:hover
{
    background-color: #dedede;
    cursor: pointer;
}