html {
background-color: white;
overflow: hidden;
}
html, body {
    overscroll-behavior-x: none;
}

nav {
    background-color: #d5d5d5;
}

body
{
    margin:0;
    overflow: hidden;
    height: 100vh;
    clip-path: inset(0 0 0 0);
    position: relative;
}

#input
{
    margin:0;
    padding:0;
    border-radius:0;
    width: 20%;
    height: 95%;
    min-width:10%;
    min-height:95%;
    max-height:95%;
    z-index: 3;
    position: absolute;
    left: 0;
    bottom:0;
    border-top-width:0;
    border-bottom-width:0;
}

#graph
{
    height:100%;
    width: 100%;
    position:absolute;
    overflow: hidden;
    top:0;
    z-index: -1;
    background-image: url('images/grid.svg');
    opacity: 0.05;
    background-size: 250px;
}

#graph:active
{
     cursor:move;
}

#circles {
    position: relative;
    left: 0;
    top: 0;
}

.circle
{
    position:absolute;
    left:500px;
    top:500px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-width:1px;
    border-color: black;
    border-style: solid;
    z-index: 2;
    background-size:cover;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: atkinson;
    background-color: #ffffff75;
    opacity: 0;
    display: none;
}

.imageText {
    color: white;
    text-shadow:
        black -2px  2px 4px,
        black -2px -2px 4px,
        black  2px  2px 4px,
        black  2px -2px 4px;
}

.inspected-circle
{
    border-color: red;
    border-width: 3px;
    transform: translate(-2px,-2px);
    font-weight: bold;
}

.circle:hover
{
    cursor:pointer;
}

.circle:active
{
    cursor:pointer;
}

.name {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.line
{
    position:absolute;
    background-color: red;
    z-index: 1;
    /*opacity:0.2;*/
    opacity: 0;
    display: none;
}

.inspected-line
{
    background-color: red;
    opacity: 1;
}

.button
{
    position: relative;
    padding: 5px;
    border-radius: 20px;
    background-color: #cfcfcf;
    display:inline;
    margin:1px;
    text-align: center;

}

a
{
    text-decoration: none;
    color:black;
}

.button:hover
{
    opacity: 0.5;
    cursor: pointer;
}

#saveButton
{
    width:100px;
}

.nodeDetails
{
    display: none;
    width: 400px;
    position: absolute;
    background-color: white;
    border: black 2px solid;
    padding-left: 1%;
    padding-right: 1%;
    overflow-y: auto;
    height: 80%;
    max-width: 600px;
    top: 4em;
    border-radius: 10px;
    transition-property: right, opacity;
    transition-duration: 0.5s;
    right: 25px;
}

.gv-nodeDetails {
    right: auto;
    left: 25px;
}

#inspector::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#inspector::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
#inspector::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 10px;
}

#inspector-name {
    margin-bottom: 0.2em;
}

#inspector-image
{
    width:100%;
    max-width: 300px;
}

#inspector-info
{
    text-align: left;
    direction: ltr;
}

#inspector-desc
{
    max-width: 400px;
    font-family: atkinson;
}

#info {
    height: 100%;
}

.info-box {
    background-color: white;
    padding: 15px;
    position: relative;
    top: 20%;
    height: 60%;
    width: 60%;
    max-width: 800px;
    margin: auto;
}

.info-content {
    margin: auto;
    width: 75%;
    text-align: center;
}

#inspector-desc img {
    max-width: 75%;
    max-height: 250px;
}

.graph-button {
    border-radius: 20px;
    background-color: #6918A9;
    color: white;
    border: 2px black solid;
    padding: 15px;
}

#guided-view-button {
    position: absolute;
    bottom: 20px;
}

.open-guided-view-button {
    right: 25px;
}

.close-guided-view-button {
    right: 635px
}

#guidedview {
    background: white;
    width: 500px;
    bottom: 0;
    top: 35px;
    position: absolute;
    right: 0;
    border-left: 2px solid;
    overflow: auto;
    padding: 2em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 15em
}

#guidedview ul.gv-list {
    list-style: none;
    margin-left: 10px;
    padding: 10px;
    border-left: 1px solid #0000003b;
}

#guidedview > ul {
    list-style: decimal;
    padding-left: 0;
    border: none;
}

#guidedview li.gv-item {
    padding: 1em;
    border-bottom: 1px solid;
    min-height: 200px;
}

#guidedview img {
    max-width: 100%;
}

.relation {
 border-left: solid 1px red;
 color: red;
 padding-left: 1em;
}

@media only screen and (max-width: 600px) {
    .nodeDetails {
        bottom: 0;
        margin: auto;
        width: 100%;
        border-radius: 0;
        height: 40%;
        overflow-y: scroll;
        border: none;
        border-top: solid;
        bottom: 0;
        max-width: none;
        right: auto;
        top: auto;
    }
}

#ui > div {
    z-index: 10;
}

#ui > a {
    z-index: 10;
}

nav-icon {
    display: inline;
}

.active > .inactive {
    display: none;
}

.inactive > .active {
    display: none;
}