body
{
    margin:0;
}

#input
{
    margin:0;
    padding:0;
    border-radius:0;
    width: 20%;
    height: 95%;
    min-width:10%;
    min-height:95%;
    max-height:95%;
    z-index: 3;
    position: absolute;
    left: 0;
    bottom:0;
    border-top-width:0;
    border-bottom-width:0;
}

#graph
{
    height:100%;
    width: 100%;
    position:absolute;
    overflow: hidden;
    top:0;
    z-index: -1;
}

#graph:active
{
     cursor:move;
}

.circle
{
    position:absolute;
    left:500px;
    top:500px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-width:1px;
    border-color: black;
    border-style: solid;
    z-index: 2;
    background-size:cover;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.inspected-circle
{
    border-color: red;
}

.circle:hover
{
    cursor:pointer;
}

.circle:active
{
    cursor:pointer;
}

.name {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.line
{
    position:absolute;
    background-color: grey;
    z-index: 1;
    opacity:0.2;
}

.inspected-line
{
    background-color: red;
    opacity: 1;
}

.button
{
    position: relative;
    padding: 5px;
    border-radius: 20px;
    background-color: #cfcfcf;
    display:inline;
    margin:1px;
    text-align: center;

}

a
{
    text-decoration: none;
    color:black;
}

.button:hover
{
    opacity: 0.5;
    cursor: pointer;
}

#saveButton
{
    width:100px;
}

.nodeDetails
{
    display: none;
    width: 400px;
    position: absolute;
    background-color: white;
    border: black 2px solid;
    padding-left: 1%;
    padding-right: 1%;
    overflow-y: auto;
    height: 80%;
    max-width: 600px;
    top: 50px;
    border-radius: 10px;
    transition-property: right, opacity;
    transition-duration: 0.5s;
    right: 25px;
}

#inspector::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#inspector::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
#inspector::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 10px;
}

#inspector-image
{
    width:100%;
    max-width: 300px;
}

#inspector-info
{
    text-align: left;
    direction: ltr;
}

#inspector-desc
{
    max-width: 400px;
}

#info {
    height: 100%;
}

.info-box {
    background-color: white;
    padding: 15px;
    position: relative;
    top: 20%;
    height: 60%;
    width: 60%;
    max-width: 800px;
    margin: auto;
}

.info-content {
    margin: auto;
    width: 75%;
    text-align: center;
}

#inspector-desc img {
    max-width: 75%;
    max-height: 250px;
}

@media only screen and (max-width: 600px) {
    .nodeDetails {
        bottom: 0;
        margin: auto;
        width: 100%;
        border-radius: 0;
        height: 40%;
        overflow-y: scroll;
        border: none;
        border-top: solid;
        bottom: 0;
        max-width: none;
        right: auto;
        top: auto;
    }
}

#ui > div {
    z-index: 10;
}