<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/28a7c2be96.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>
    {% block head %}{% endblock %}
</head>
<body onmousemove="this.setAttribute('x',event.clientX);this.setAttribute('y',event.clientY);"
      onload="onload()" class="{% block bodyClass %}{% endblock %}">

<div id="modal" class="hidden">

    <div id="info">
    <div class="modal-overlay"></div>

    <div class="info-box">
    {% block info %}{% endblock %}
    </div>
</div>

{% block modal %}
{% endblock %}
</div>

{% block nav %}
<nav>
    <ul class="left">
        <li><a href="/">
            <img class="logo" src="{{ url_for('static', filename='images/icon.svg') }}">
        </a></li>
        {% block left_nav %}{% endblock%}
    </ul>
    <p class="mid mobile-hidden" id="titlename">{% block nav_mid %}{% endblock %}</p>
    <ul class="right">
        {% block right_nav %}{% endblock %}
        {% if current_user.is_authenticated %}
                <li class="mobile-hidden"><a href="/{{ current_user.id }}/dir" title="Directory"><i class="fa-solid fa-folder"></i></a></li>
        <li class="dropdown mobile-hidden">
            <a href="/{{ current_user.id }}">{{ current_user.id }}</a>
            <div class="profile-dropdown dropdown-content">
                <ul>
                    <li><a href="/{{ current_user.id }}">Profile</a></li>
                    <li><a href="/logout">Sign out</a></li>
                </ul>
            </div>
        </li>
        {% else %}
        <li class="dropdown mobile-hidden">
            <a href="/login">Signed out</a>
            <div class="profile-dropdown dropdown-content">
                <ul>
                    <li>
                        <p>Login</p>
                       <form action='/login' method='POST'>
                        <input type='text' name='username' id='username' placeholder='username'/>
                        <input type='password' name='password' id='password' placeholder='password'/>
                        <input type='submit' name='submit'/>
                       </form>
                    </li>
                    <li><a href="/register">Sign up</a></li>
                </ul>
            </div>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

<input type="hidden" id="saved" value="{{context.graph.nodes}}">

<div id="ui">
{% block ui%}{% endblock %}
</div>


<div id="graph" hovered="0"
     onmouseover="hovering(this, event);"
     onmouseout="nothovering(this);"
     onmousedown="setanchor(event, this);"
     onmouseup="removeanchor(this);"
     ontouchmove="document.getElementsByTagName('BODY')[0].setAttribute('x',event.touches[0].clientX);document.getElementsByTagName('BODY')[0].setAttribute('y',event.touches[0].clientY);console.log('moved');"
     ontouchstart="document.getElementsByTagName('BODY')[0].setAttribute('x',event.touches[0].clientX);document.getElementsByTagName('BODY')[0].setAttribute('y',event.touches[0].clientY);setanchor(event, this);console.log('touched');"
     ontouchend="removeanchor(this);"
     saved="0" scale="10" panx="700" pany="300" repel="0.005" attract="0.01" energy="0" inspected="none">
</div>
<div id="circles" class="{% block circles %}{% endblock %}"></div>
<div id="panels"></div>

<script>
    document.getElementById("graph").addEventListener("wheel", function(e) {
        initializeZooming(e);
    },{passive:false});

    initializeInfoButton();
</script>

</body>
</html>