{% extends "graph-layout.html" %}

{% block title %}{{context.graph.name}}{% endblock %}

{% block left_nav %}
<li>Info</li>
<li>
    <a href="/{{context.graph.user}}/{{context.graph.slug}}" >View</a>
</li>
{% endblock %}

{% block nav_mid %}
{{context.graph.name}}
{% endblock %}

{% block right_nav %}
<li id="saveButton" onclick="saveGraph()">
    Saved
</li>
{% endblock %}

{% block ui %}
<textarea id="input"></textarea>

<div id="nodeEditor">
    <div id="nodeEditor-info">
        <p id="nodeEditor-id"></p>
        <label for="nodeEditor-name">Name:</label>
        <input type="text" id="nodeEditor-name" name="nodeEditor-name">
        <img id="nodeEditor-image">
        <label for="nodeEditor-desc">Description:</label><br>
        <textarea id="nodeEditor-desc"></textarea>
        <hr>
        <ul id="nodeEditor-rels"></ul>
    </div>
</div>
{% endblock %}