<div class="graph-thumb">
    <a href="/{{graph.user}}/{{graph.slug}}{% if edit %}/edit{% endif %}">
        <div class="graph-thumb-img" style="background-image:
            {% if imagesUrl %}
                url('{{imagesUrl}}/tn-{{graph.user}}-{{graph.slug}}.png')
            {% else %}
                url('{{ url_for('static', filename='images/thumbnails/' + graph.user + '-' + graph.slug + '.png') }}')
            {% endif %}
        "></div>
    </a>
    <div class="graph-thumb-desc">
        <h2><a href="/{{graph.user}}/{{graph.slug}}{% if edit %}/edit{% endif %}">{{graph.name}}</a></h2>
        <p>{{graph.desc}}</p>
        <p>{{graph.lastEdit}}</p>
    </div>
</div>