{% extends "layout.html" %}
{% block title %}Brambli{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<div class="home-content">
    <div class="banner"></div>
    <div class="home-main-content">
        {% if current_user.is_authenticated %}
        <div id="dashboard-sidebar" class="mobile-hidden">
        <h1>{{ current_user.name }}</h1>
        <h2>Recently Viewed</h2>
        <ul>
            {% for graph in context.user_viewed %}
                <p><a href="/{{graph.user}}/{{graph.slug}}">{{graph.name}}</a> {% if graph.user == current_user.id %}<a href="/{{graph.user}}/{{graph.slug}}/edit"><i class="fa-solid fa-pencil"></i></a>{% endif %}</p>
            {% endfor %}
        </ul>
        <h2>Recent Edits</h2>
        <ul>
            {% for graph in context.user_recent %}
                <p><a href="/{{graph.user}}/{{graph.slug}}">{{graph.name}}</a> <a href="/{{graph.user}}/{{graph.slug}}/edit"><i class="fa-solid fa-pencil"></i></a></p>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
        <div class="main">
            <h1>Popular</h1>
            <div class="scrollList-container">
                <ul class="scrollList">
                {% for graph in context.popular %}
                <li>
                    {% include "graph-thumb.html" %}
                </li>
                {% endfor %}
                </ul>
                <div class="fader-left"></div>
                <div class="fader-right"></div>
            </div>

            <h1>Newest</h1>
            <div class="scrollList-container">
                <ul class="scrollList">
                {% for graph in context.newest %}
                <li>
                    {% include "graph-thumb.html" %}
                </li>
                {% endfor %}
                </ul>
                <div class="fader-left"></div>
                <div class="fader-right"></div>
            </div>
        </div>

        {% if current_user.is_authenticated %}
        <div class="mobile-hidden">
            <div class="activity-sidebar">
                <h1>Activity</h1>
                <ul>
                    {% for activity in context.activity %}
                    <li>{{activity[0]|safe}}</li>
                    {% endfor %}
                </ul>
                <p><a href="/rss/{{context.user.rssCode}}"><i class="fa-solid fa-square-rss orange"></i> Rss feed</a></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}