<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <meta meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='kg.css') }}">
    <script src="{{ url_for('static', filename='kg.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
</head>
<body onmousemove="this.setAttribute('x',event.clientX);this.setAttribute('y',event.clientY);" onload="onload()">

<input type="hidden" id="saved" value="{{file}}">

<div>

    <a href="/" ><div class="button">
        Back
    </div></a>
    <div class="button" onclick="openMarkup()">Markup</div>
    <a href="/view/{{id}}" ><div class="button">
        View
    </div></a>
    <div id="saveButton" class="button" onclick="saveGraph()">
        Saved
    </div>

    <textarea id="input">
    </textarea>

    <div id="nodeEditor">
    <div id="nodeEditor-info">
        <p id="nodeEditor-id"></p>
        <label for="nodeEditor-name">Name:</label>
        <input type="text" id="nodeEditor-name" name="nodeEditor-name">
        <img id="nodeEditor-image">
        <label for="nodeEditor-desc">Description:</label><br>
        <textarea id="nodeEditor-desc"></textarea>
        <hr>
        <ul id="nodeEditor-rels"></ul>
    </div>
</div>
</div>

<div id="graph" onmouseover="hovering(this);" onmouseout="nothovering(this);" onmousedown="setanchor(this);" onmouseup="removeanchor(this);" saved="0" scale="10" panx="700" pany="300" repel="0.005" attract="0.01" energy="0">
    <div id="circles"></div>
</div>

</body>
</html>