<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <meta meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vkg.css') }}">
    <script src="{{ url_for('static', filename='vkg.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body onmousemove="this.setAttribute('x',event.clientX);this.setAttribute('y',event.clientY);" onload="onload()">

<input type="hidden" id="saved" value="{{file}}">

<a href="/" ><div class="button">
    Back
</div></a>


<a href="/edit/{{id}}" ><div class="button">
    Edit
</div></a>

<div id="inspector">
    <h1 id="inspector-name"></h1>
    <p id="inspector-id"></p>
    <p id="inspector-desc"></p>
    <ul id="inspector-rels"></ul>
</div>

<div id="graph" onmousedown="setanchor(this);" onmouseup="removeanchor(this);" saved="0" scale="10" panx="700" pany="300" repel="0.01" attract="0.01" energy="0">

</div>

</body>
</html>